mainDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col {
  flex: 0 0 calc(33.33% - 10px); 
  margin-bottom: 20px;
  box-sizing: border-box;
}
.btnGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 120px;
}



h1 {
  text-align: center;
  margin-top: 200px;
  font-family: 'Arial', sans-serif;
}

@media (max-width: 425px) {
  .col {
    flex: 0 0 100%; 
  }
}